<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>${project.parent.organization.name}</author>
	<description>${project.parent.description}</description>

	<activator>org.openmrs.module.mksreports.MKSReportsActivator
	</activator>

	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>2.0.0</require_version>

	<require_modules>
		<require_module version="${reportingVersion}">
			org.openmrs.module.reporting
		</require_module>
		<require_module version="${initializerVersion}">
			org.openmrs.module.initializer
		</require_module>
		<require_module version="${patientsummaryVersion}">
			org.openmrs.module.patientsummary
		</require_module>
	</require_modules>
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

	<globalProperty>
		<property>mksreports.phoneNumberUuid</property>
		<defaultValue>c3bcd296-eb82-4451-a4b4-eedd1d5f322f</defaultValue>
		<description>
			The UUID of the phone number that would be used by MKS Reports reports
		</description>
	</globalProperty>
	<globalProperty>
		<property>mksreports.2ndPhoneNumberUuid</property>
		<defaultValue>1102f74e-ea2f-461e-b67f-db58bd136e5c</defaultValue>
		<description>
			The UUID of the 2nd phone number that would be used by MKS Reports
			reports
		</description>
	</globalProperty>

</module>

